div {
    color: whitesmoke;
    width: 100%;
    height: 20%;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
}

p {
    text-align: center;
}

a {
    color: whitesmoke;
}

.a-left {
    float: left;
    margin-left: 10px;
}

.a-right {
    float: right;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

// Gamemodes

#all {
    background-color: #202020;
}

#aram {
    background-color: #26275F;
}

#special {
    background-color: #48204F;
}